<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.binancewebsocket.mapper.BinanceTickerMapper">

    <!-- ✅ Ticker 데이터 저장 (선물 필드 추가) -->
    <insert id="insertTicker">
        INSERT INTO binance_ticker (symbol, event_time, price_change, price_change_percent, weighted_avg_price,
                                    last_price, open_price, high_price, low_price, volume)
        VALUES (#{symbol}, #{eventTime}, #{priceChange}, #{priceChangePercent}, #{weightedAvgPrice}, #{lastPrice},
                #{openPrice}, #{highPrice}, #{lowPrice}, #{volume}) ON DUPLICATE KEY
        UPDATE
            price_change =
        VALUES (price_change), price_change_percent =
        VALUES (price_change_percent), weighted_avg_price =
        VALUES (weighted_avg_price), last_price =
        VALUES (last_price), open_price =
        VALUES (open_price), high_price =
        VALUES (high_price), low_price =
        VALUES (low_price), volume =
        VALUES (volume)
    </insert>


</mapper>
